In [1]:
from google.cloud import bigquery

In [2]:
SERVICE_ACCOUNT = r'/Users/abhisheksharma/Desktop/GCP/virtual-sum-343604-1a973528af1c.json'

In [3]:
bq_client = bigquery.Client.from_service_account_json(SERVICE_ACCOUNT)

In [7]:
##Create a Dataset
dataset_id = "virtual-sum-343604.my_project_dataset"
dataset = bigquery.Dataset(dataset_id)
dataset.location = "US"
dataset_ref = bq_client.create_dataset(dataset,timeout = 30)
print("Success")

Success

In [9]:
##Create a table
table_id = "virtual-sum-343604.my_project_dataset.startups_info"
file_path = r'/Users/abhisheksharma/Desktop/GCP/50_Startups.csv'
source_file = open(file_path,"rb")

job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("R_D_Spend","FLOAT",mode="NULLABLE"),
        bigquery.SchemaField("Administration","FLOAT",mode="NULLABLE"),
        bigquery.SchemaField("Marketing_Spend","FLOAT",mode="NULLABLE"),
        bigquery.SchemaField("State","STRING",mode="NULLABLE"),
        bigquery.SchemaField("Profit","FLOAT",mode="NULLABLE")
    ],
    source_format=bigquery.SourceFormat.CSV, skip_leading_rows=1
)
job = bq_client.load_table_from_file(source_file,table_id,job_config=job_config)
job.result()

In [7]:
##Query the table created
my_query = "SELECT * FROM virtual-sum-343604.my_project_dataset.startups_info"

In [8]:
import pyarrow
df = (bq_client.query(my_query).result().to_dataframe(create_bqstorage_client=True,))

In [9]:
df.head()

   R_D_Spend  Administration  Marketing_Spend    State     Profit
0  153441.51       101145.55        407934.54  Florida  191050.39
1  142107.34        91391.77        366168.42  Florida  166187.94
2  130298.13       145530.06        323876.68  Florida  155752.60
3  101913.08       110594.11        229160.95  Florida  146121.95
4   93863.75       127320.38        249839.44  Florida  141585.52